{% extends "blog_app/base.html" %}
{% load blog_tags %}
{% load static %}
{% block title %}
    Amirrezano's blog
{% endblock title %}

{% block content %}
    <h1>
        Amirrezano's blog
    </h1>
{#<div id="searchbar">#}
{#    <div class="input-group">#}
{#        <div class="form-outline">#}
{#            <input type="search" id="form1" class="form-control"/>#}
{#            <label class="form-label" for="form1">Search</label>#}
{#        </div>#}
{#        <button type="button" class="btn btn-primary">#}
{#            <i class="fas fa-search"></i>#}
{#        </button>#}
{#    </div>#}
{#</div>#}
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="tags">
            tags: {% for tag in post.tags.all %}
            <a href="{% url 'blog_app:post_list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </p>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:60 }}          {# post's body #}
    {% endfor %}
    {#    {% include "pagination.html" with page=posts %}#}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                   aria-disabled="true">{{ page_obj.previous_page_number }}</a>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>


            {#            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>#}
            {#            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
            {#            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
            <li class="page-item">
                {% if page_obj.has_next %}
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}